.cre-rev-h3{
  color: #333;
  font-family: "Federant", serif;
  margin-bottom: auto;
}

.cre-rev-p{
  font-family: 'Ysabeau', serif;
  color: #fbf9ef;
}

.rev-gui-h2{
  font-family: "Federant", serif;
  color: #fbf9ef;
}

.rev-gui-h3{
  font-family: "Federant", serif;
  color: #fbf9ef;
}

.review-form {
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    width: 47%;
}
  
.title {
  font-size: 45px;
  font-weight: bold;
  color: #333;
  font-family: "Federant", serif;
}
  
.stars {
  display: flex;
  gap: 5px;
  cursor: pointer;
}
  
.stars span {
  font-size: 20px;
  color: #343333ab;
}
  
.stars .filled {
  color: #ffc629;
}
  
.cre-rev-input, .cre-rev-textarea {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Ysabeau", serif;
  resize: none;
  outline-color: #343333;
}
  
.cre-rev-textarea {
  height: 150px;
}
  
.agreement {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: 'Ysabeau', serif;
}

.checkbox-wrapper-31:hover .check {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-31 {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.checkbox-wrapper-31 .background {
  fill: #343333;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}
.checkbox-wrapper-31 .stroke {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  stroke-dashoffset: 100;
  stroke-dasharray: 100;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}
.checkbox-wrapper-31 .check {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  stroke-dashoffset: 22;
  stroke-dasharray: 22;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}
.checkbox-wrapper-31 input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  opacity: 0;
}
.checkbox-wrapper-31 input[type=checkbox]:hover {
  cursor: pointer;
}
.checkbox-wrapper-31 input[type=checkbox]:checked + svg .background {
  fill: #ffc629;
}
.checkbox-wrapper-31 input[type=checkbox]:checked + svg .stroke {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-31 input[type=checkbox]:checked + svg .check {
  stroke-dashoffset: 0;
}
  
.guidelines{
    top:10%;
    width:40em;
    height: fit-content;
    margin-top: -3em;
    margin-left: -26em;
    border: 1px solid #343333;
    border-radius: 25px;
    padding: 10px;
    padding-bottom: 0px;
    background-color: #343333;
    color: #fbf9ef;
    position: fixed;
}

.guide-pop .popup-overlay {
  background: #34333386;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.cre-rev-button {
  padding: 10px;
  background-color: #ffc629;
  color: #343333;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: "Federant", serif;
  transition: background-color 0.2s ease, color 0.2s ease;
  width: 100%;
}

.cre-rev-button:hover {
  background-color: #343333;
  color: #ffc629;
}

.cre-rev-rem-button{
  padding: 10px;
  background-color: #ffc629;
  color: #343333;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: "Federant", serif;
  transition: background-color 0.2s ease, color 0.2s ease;
  width: 100%;
  margin-bottom: 20px;
}

.cre-rev-rem-button:hover {
  background-color: #343333;
  color: #ffc629;
}

.del-sure{
  flex: 1;
  padding: 10px;
  background-color: #ffc629;
  color: #343333;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: "Federant", serif;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.del-sure:hover {
  background-color: #343333;
  color: #ffc629;
}

.delete-button {
  background-color: #e74c3c;
  color: #fff;
  border: 2px solid #e74c3c;
  font-family: "Federant", serif;
  width: 100%;
  border-radius: 25px;
  font-size: 16px;
}

.delete-button:hover {
  background-color: #fff;
  color: #e74c3c;
  border: 2px solid #e74c3c;
}

.alert {
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.alert.success { background: #4caf50; }
.alert.error { background: #e74c3c; }
.alert.warning { background: #ffc629; }

.alert button {
  background: none;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;

}

.review-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /*width: 95vw;*/
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.alert-box{
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  width: 100%;
  font-family: 'Federant', serif;
}

.delete-popup{
  width: 70%;
  height: auto;
  align-items: center;
  background-color: #343333;
  color: #fff;
  padding: 5%;
  border-radius: 5%;
  text-align: center;
  margin-left: 50px;
}

.delete-popup button{
  margin: 5px;
  border: 1px solid;
  flex: 1;
  transition: background-color 0.2s ease, color 0.2s ease;
  width: 35%;
}

.delete-popup:hover{
  border: 1px solid #ffc629;
}

.cloudinary-button-rev.cloudinary-button{
  padding: 5px;
  margin: 10px;
  margin-left: 0;
  font-size: 16px;
  border: 2px solid #343333;
  border-radius: 25px;
  width: 150px;
  transition: background-color 0.2s ease, color 0.2s ease;
  background-color: #343333;
  color: #ffc629;
  font-family: "Federant", serif;
}

.cloudinary-button:hover{
  background-color: #ffc629;
  color: #343333;
  border: 2px solid #343333;
}

.remove-image-button{
  width: 100px;
  margin: 5px;
}

.image-container img {
  width: 120px; 
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  scale: 250%;
  margin: 50px;
  margin-left: 30px;
  margin-right: 90px;
}

.image-container img:hover {
  transform: scale(1.5);
}
