#hero h1{
    font-size: 96px;
    font-family: "Federant";
    color: #343333;
    margin: 0px;
    margin-top: 90px;
}

#hero p {
    color: #343333;
    font-family: "Ysabeau Office";
    font-size: 32px;
    margin-top: 0px;
}


#hero {
    margin-bottom: 28px;
    height: 20vh;
    text-align: center; 
    width: 85vw;
    margin-top: 0px;
}
#categoryCarousel {
    display: flex;
    gap: 11px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.carouselItem {
    width: 16vw;
    height: 43vh;
    background-color: #343333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.4s ease-in-out;
}

.carouselItem:hover {
    transform: scale(0.9);
}

.carouselImage {
    width: 14vw;
    border-radius: 4px;
    height: 30vh;
}


.carouselText {
    margin-top: 10px;
    color: #FBF9EF;
    font-family: "Federant";
    font-size: 30px;
    margin-bottom:20px;
}


@keyframes Blur {
    from {
        opacity: 0;
        filter: blur(10px); /* Start with a blur */
      }
      to {
        opacity: 1;
        filter: blur(0); /* Clear the blur */
      }
  }

 #hero {
    animation: Blur 0.8s ease-out forwards;
  }

  @keyframes floatIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  #categoryCarousel {
    animation: floatIn 1.0s ease-out forwards;
  }