#formPopup {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    width: 36vw;
    height: fit-content;
    background-color: #ffc629;
    border: none;
    padding: 24px;
    font-family: "Ysabeau Office";
    /*margin-left: -594px;
    margin-bottom: -800px;*/
}

#formPopup form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

#formPopup {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.popup-overlay {
    background: #34333386;
}
#formPopup h2{
    font-size: 2.5vw;
    font-family: "Federant";
    color: #343333;
    margin: 0px;
}
#formPopup h3{
    font-size: 1.8vw;
    font-family: "Federant";
    color: #343333;
    margin: 0px;
}
#formPopup h4{
    font-size: 1.2vw;
    font-family: "Federant";
    color: #343333;
    margin: 0px;
}
#formPopup fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formPopup input{
    background-color: #fbf9ef;
    color: black;
    font-family: "Ysabeau Office";
    width: 30vw;
    height: 7vh;
    border: none;
    margin: 14px 0;
    font-size: 150%;
    padding-left: 6px;
}

#formPopup a{
    color: #c63838;
}

#formPopup p{
    color: black;
    width: 372px;
    text-align: center;
}

#formPopup button{
    background-color: #ffc629;
    border-style: solid;
    border-color: #343333;
    color: #343333;
    font-size: 150%;
    font-family: "Federant";
    border-radius: 0px;
    width: 178px;
    height: 55px;
    cursor: pointer;
}

#formPopup button:hover, #formPopup label:hover {
    background-color: #343333;
    color: #fbf9ef;
}

.registerForm#formPopup button, .loginForm#formPopup button {
    width: 12.5vw;
    height: 7vh;
}

.registerForm#formPopup, .loginForm#formPopup{
    justify-content: center;
}