.imagePlaceholder{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-top: 50px;
    background-color: white;
}

.userFormCont {
    display: flex;
    justify-content: space-between;
    column-gap: 20vw;
}

.userFormPopup#formPopup {
    width: 80vw;
    box-sizing: content-box;
}

#formPopup input{
    margin-top: 0;
}

.userFormPopup#formPopup input {
    width: 400px;
    height: 50px;
}

#formPopup button {
    width: 200px;
    margin-top: 20px;
}


label {
    text-align: left;
    font-size: 1.3rem;
    width: 100%;
}

#userFormRight{
    margin-top: 10%
}

/*test*/

.imageUploadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
  }
  
  .profileImagePreview {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
  }
  
  .profileImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .imagePlaceholder {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f0f0f0;
    border: 1px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .imagePlaceholder::after {
    content: 'No Image';
    color: #999;
    font-size: 16px;
  }
  
  .imageInputContainer {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  
.imageInputLabel {
    padding: 8px 16px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s;
    border-style: solid;
    border-color: #343333;
  }
  
  .imageInput {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }