.imagePlaceholder{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-top: 50px;
    background-color: white;
}

.userFormCont {
    display: flex;
    width: 1000px;
    justify-content: space-between;
}

#formPopup {
    width: 70vw;
}

#formPopup input{
    margin-top: 0;
}

#formPopup button {
    width: 200px;
    margin-top: 20px;
}


label {
    text-align: left;
    font-size: 1.3rem;
    width: 100%;
}